<!-- <div *ngIf="isLoading" class="loading">
  <div
          class="spinner-border text-danger spinner-center"
          role="status"
  ></div>
</div> -->
<div class="main-content">
  <div class="container-fluid">
    <div class="card custom-card">
      <div class="card-body">
        
        
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="Tất cả">Content 1</mat-tab>
          <mat-tab label="Chờ xác nhận">Content 2</mat-tab>
          <mat-tab label="Chờ lấy hàng">Content 3</mat-tab>
          <mat-tab label="Đang giao">Content 3</mat-tab>
          <mat-tab label="Đã giao">Content 3</mat-tab>
          <mat-tab label="Đơn hủy">Content 3</mat-tab>
          <mat-tab label="Trả hàng/Hoàn tiền">Content 3</mat-tab>
        </mat-tab-group>


      </div>
    </div>
  </div>
</div>
