<div class="main-content">
    <div class="container-fluid">
        <div class="card custom-card">
            <div class="card-body">
                <div class="row mt-2">
                    <div class="col-12">
                        <a routerLink="turnover" mat-button class="btn-color">Doanh thu</a>
                        <a routerLink="cus" mat-button class="mx-2 btn-color">Khách hàng</a>
                        <a routerLink="pro" mat-button  class=" btn-color">Sản phẩm</a>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
