<div class="main-content">
  <div class="container-fluid">
    <div class="card custom-card">
      <mat-card-title class="text-center mt-3"
        ><span class="h2 font-weight-bold text-center"
          >Thêm chi tiết sản phẩm</span
        ></mat-card-title>
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <div
                    class="custom-dropzone"
                    style="height: 360px; width: 234px;"
                    ngx-dropzone
                    [accept]="'image/*'"
                    (change)="onSelect($event)"
                  >
                    <ngx-dropzone-label>
                      <div>
                        <span>Tải ảnh lên để hút màu</span>
                        <br>
                        <span>(Không bắt buộc)</span>
                      </div>
                    </ngx-dropzone-label>
                    <ngx-dropzone-image-preview
                      ngProjectAs="ngx-dropzone-preview"
                      *ngFor="let f of files"
                      [file]="f"
                      [removable]="true"
                      (removed)="onRemove(f)"
                    >
                      <ngx-dropzone-label> </ngx-dropzone-label>
                    </ngx-dropzone-image-preview>
                  </div>
          </div>
          <div class="col-9">
              <form [formGroup]="colorFormGroup">
                  <div class="row">
                <div class="col-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Mã màu sản phẩm</mat-label>
                      <input
                        matInput
                        type="text"
                        onfocus="this.select()"
                        (change)="onChangeColor($event)"
                        formControlName="code"
                        placeholder="Ví dụ: #FFFFFF"
                      />
                      <mat-error class="text-danger"
                               *ngIf="colorFormGroup.get('code')?.hasError('required') &&
                               colorFormGroup.get('code')?.touched">
                        Màu sắc không được để trống
                    </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-5">
                    <input
                    formControlName="code"
                    class=""
                    style="height: 54px"
                    type="color"
                    (change)="onChangeColor($event)"
                    title="Hút màu"
                    />
                  </div>
                </div>
                <div class="row d-flex justify-content-end">
                    <button *ngIf="!sizeQuantityBoolean" class="btn btn-info" (click)="createColor()">Đồng ý</button>
                  </div>
                </form>
                <div class="size-quantity" *ngIf="sizeQuantityBoolean">
                  <mat-label>Chọn size </mat-label>
                      <!-- Color product detail -->
                      <section class="example-section">
                        <mat-checkbox
                          (click)="selectSize('s')"
                          value="s"
                          class="example-margin"
                        >
                          S
                        </mat-checkbox>
                        <mat-checkbox
                          (click)="selectSize('m')"
                          value="s"
                          class="example-margin"
                        >
                          M
                        </mat-checkbox>
                        <mat-checkbox
                          (click)="selectSize('l')"
                          value="s"
                          class="example-margin"
                        >
                          L
                        </mat-checkbox>
                        <mat-checkbox
                          (click)="selectSize('xl')"
                          value="s"
                          class="example-margin"
                        >
                          XL
                        </mat-checkbox>
                        <mat-checkbox
                          (click)="selectSize('2xl')"
                          value="s"
                          class="example-margin"
                        >
                          2XL
                        </mat-checkbox>
                        <mat-checkbox
                          (click)="selectSize('3xl')"
                          value="s"
                          class="example-margin"
                        >
                          3XL
                        </mat-checkbox>
                      </section>


                      <form [formGroup]="sizeFormGroup">
                      <mat-form-field appearance="outline" *ngIf="s">
                        <mat-label>
                          Số lượng của size S
                        </mat-label>
                        <input matInput type="number" formControlName="1" placeholder="Nhập số lượng" />
                      </mat-form-field>

                      <mat-form-field appearance="outline" *ngIf="m">
                        <mat-label>
                          Số lượng của size M
                        </mat-label>
                        <input matInput type="number" formControlName="2" placeholder="Nhập số lượng" />
                      </mat-form-field>

                      <mat-form-field appearance="outline" *ngIf="l">
                        <mat-label>
                          Số lượng của size L
                        </mat-label>
                        <input matInput type="number" formControlName="3" placeholder="Nhập số lượng" />
                      </mat-form-field>

                      <mat-form-field appearance="outline" *ngIf="xl">
                        <mat-label>
                          Số lượng của size XL
                        </mat-label>
                        <input matInput type="number" formControlName="4" placeholder="Nhập số lượng" />
                      </mat-form-field>

                      <mat-form-field appearance="outline" *ngIf="xxl">
                        <mat-label>
                          Số lượng của size 2XL
                        </mat-label>
                        <input matInput type="number" formControlName="5" placeholder="Nhập số lượng" />
                      </mat-form-field>

                      <mat-form-field appearance="outline" *ngIf="xxxl">
                        <mat-label>
                          Số lượng của size 3XL
                        </mat-label>
                        <input matInput type="number" formControlName="6" placeholder="Nhập số lượng" />
                      </mat-form-field>
                    </form>
                </div>
              

                      <div class="row d-flex justify-content-end" *ngIf="sizeQuantityBoolean">
                        <button
                            class="btn btn-info mt-auto"
                            type="submit"
                            title="Tiếp tục thêm màu và số lượng mới"
                            mat-button
                            matStepperNext
                          >
                            Thêm tiếp
                          </button>
                          <!-- routerLink="/product" -->
                          <a
                            class="btn btn-danger mt-auto"
                            mat-button
                            matStepperNext
                            (click)="check()"
                          >
                            Kết thúc
                          </a>
                      </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
