<div class="main-content">
  <div class="container-fluid">
    <div class="card custom-card">
      <div class="card-body">
        <div class="mx-2">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Tìm kiếm</mat-label>
                <input type="text" matInput placeholder="Tìm kiếm"

                #input>
            </mat-form-field>
            <button mat-raised-button color="warn">Thêm mới</button>
        </div>
    </div>
    </div>
  </div>
</div>
