<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 offset-1">
      <!--====== Product Detail Zoom ======-->
      <div class="pd u-s-m-b-30 row">
        <div class="col-3 ">
          <div class="row">
            <div class="col-12 mb-2 border-1 border-dark">
              <img src="{{product.thumnail}}" class="u-img-fluid "
                   [class]="product.thumnail === thumnail ? 'clickImage' : '' "
                   (click)="changThumnail( product.thumnail )">
            </div>
          </div>

          <div class="row " *ngFor=" let x of productImage ">
            <div class="col-12 mb-2">
              <img src="{{x.name}}" class="u-img-fluid" [class]="x.name === thumnail ? 'clickImage' : '' "
                   (click)="changThumnail( x.name )">
            </div>
          </div>

        </div>
        <div class="col-8 ">
          <img src="{{thumnail}}" class="u-img-fluid">
        </div>
      </div>
      <!--====== End - Product Detail Zoom ======-->
    </div>
    <div class="col-lg-5">
      <!--====== Product Right Side Details ======-->
      <div class="pd-detail">
        <div>
          <span class="pd-detail__name fs-4">{{product.name}}</span>
        </div>
        <div>
          <div class="pd-detail__inline">
            <span class="pd-detail__price">{{product.price | currency: 'VND' : 'symbol' : '4.0' }}</span>

            <span class="pd-detail__discount">(76% OFF)</span
            >
            <del class="pd-detail__del">$28.97</del>
          </div>
        </div>
<!--        Star ở đây-->
        <div class="u-s-m-b-15">
          <form class="pd-detail__form">
            <div class="u-s-m-b-15">
              <span class="pd-detail__label u-s-m-b-8">Color:</span>
              <div class="pd-detail__color">
                <div class="color__radio">
                  <input type="radio" id="jet" name="color" checked/>

                  <label
                    class="color__radio-label"
                    for="jet"
                    style="background-color: #333333"
                  ></label>
                </div>
                <div class="color__radio">
                  <input type="radio" id="folly" name="color"/>

                  <label
                    class="color__radio-label"
                    for="folly"
                    style="background-color: #ff0055"
                  ></label>
                </div>
                <div class="color__radio">
                  <input type="radio" id="yellow" name="color"/>

                  <label
                    class="color__radio-label"
                    for="yellow"
                    style="background-color: #ffff00"
                  ></label>
                </div>
                <div class="color__radio">
                  <input
                    type="radio"
                    id="granite-gray"
                    name="color"
                  />

                  <label
                    class="color__radio-label"
                    for="granite-gray"
                    style="background-color: #605f5e"
                  ></label>
                </div>
                <div class="color__radio">
                  <input type="radio" id="space-cadet" name="color"/>

                  <label
                    class="color__radio-label"
                    for="space-cadet"
                    style="background-color: #1d3461"
                  ></label>
                </div>
              </div>
            </div>
            <div class="u-s-m-b-15">
              <span class="pd-detail__label u-s-m-b-8">Size:</span>
              <div class="pd-detail__size">
                <div class="size__radio">
                  <input type="radio" id="xs" name="size" checked/>

                  <label class="size__radio-label" for="xs">XS</label>
                </div>
                <div class="size__radio">
                  <input type="radio" id="small" name="size"/>

                  <label class="size__radio-label" for="xxl"
                  >Small</label
                  >
                </div>
                <div class="size__radio">
                  <input type="radio" id="medium" name="size"/>

                  <label class="size__radio-label" for="medium"
                  >Medium</label
                  >
                </div>
                <div class="size__radio">
                  <input type="radio" id="large" name="size"/>

                  <label class="size__radio-label" for="xxl"
                  >Large</label
                  >
                </div>
                <div class="size__radio">
                  <input type="radio" id="xl" name="size"/>

                  <label class="size__radio-label" for="xl">XL</label>
                </div>
                <div class="size__radio">
                  <input type="radio" id="xxl" name="size"/>

                  <label class="size__radio-label" for="xxl"
                  >XXL</label
                  >
                </div>
              </div>
            </div>
            <div class="pd-detail-inline-2">
              <div class="u-s-m-b-15">
                <!--====== Input Counter ======-->
                <div class="input-counter">
                            <span
                              class="input-counter__minus fas fa-minus"
                            ></span>

                  <input
                    class="input-counter__text input-counter--text-primary-style"
                    type="text"
                    value="1"
                    data-min="1"
                    data-max="1000"
                  />

                  <span
                    class="input-counter__plus fas fa-plus"
                  ></span>
                </div>
                <!--====== End - Input Counter ======-->
              </div>
            </div>
            <div class="u-s-m-b-15">
              <button class="btn btn-warning" type="submit">
                Add to Cart
              </button>
            </div>
          </form>
        </div>
      </div>
      <!--====== End - Product Right Side Details ======-->
    </div>
    <div class="col-1">
         <span (click)="onCancel()" class="fs-4">
              <i class="fas fa-times"></i>
          </span>
    </div>
  </div>
</div>

