<div class="u-s-p-y-60 ">
  <!--====== Section Content ======-->
  <div class="section__content">
    <div class="container">
      <div class="breadcrumb row">
        <div class="breadcrumb__wrap">
          <ul class="breadcrumb__list">
            <li class="has-separator">
              <a routerLink="/home">Trang chủ</a>
            </li>
            <li class="is-marked">
              <a routerLink="/about">Giới thiệu</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--====== App Content ======-->
<div class="app-content">
  <!--====== Section 2 ======-->
  <div class="u-s-p-b-60">

    <!--====== Section Content ======-->
    <div class="section__content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="about">
              <div class="about__container">
                <div class="about__info">
                  <h2 class="about__h2">Chào mừng đến với NEM FASHION!</h2>
                  <div class="about__p-wrap">
                    <p class="about__p">Thời kì hoàng kim của những bộ suit quyền lực cho phái đẹp đã trở lại với làng thời trang với những kiểu dáng thời thượng và bảng màu cập nhật xu hướng mới nhất. Khi thời trang ngày càng phát triển trong xã hội hiện đại, ranh giới trang phục nam và nữ ngày càng mờ nhạt. Từ những bàn nghị sự chỉ dành riêng cho cánh đàn ông, suit đã bước ra quy chuẩn để trở thành biểu tượng của phong cách và thể hiện sự mạnh mẽ cho nữ giới.
                      Cảm giác muốn thay đổi phong cách để trở nên thu hút và sắc sảo hơn là suy nghĩ của không riêng người phụ nữ nào. Họ thường chọn nâng cấp hình ảnh bản thân với âu phục thời thượng.
                      Cùng NEM điểm danh những yếu tố quan trọng quyết định phong cách bộ trang phục của bạn nhé!</p>
                  </div>

                  <a class="about__link btn--e-secondary" routerLink="/products" >Mua hàng ngay</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--====== End - Section Content ======-->
  </div>
  <!--====== End - Section 2 ======-->


  <!--====== Section 3 ======-->
  <div class="u-s-p-b-60">

    <!--====== Section Intro ======-->
    <div class="section__intro u-s-m-b-46">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section__text-wrap">
              <h1 class="section__heading u-c-secondary">Thành viên</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--====== End - Section Intro ======-->


    <!--====== Section Content ======-->
    <div class="section__content">
      <div class="container">
        <div class="row">
          <div class="col u-s-m-b-30">
            <div class="team-member u-h-100">
              <div class="team-member__wrap">
                <div class="aspect aspect--bg-grey-fb aspect--square">

                  <img class="aspect__img team-member__img" style="object-fit: cover" src="https://res.cloudinary.com/nemfashion/image/upload/v1671690797/320906660_567882201343310_1049942980286500804_n_ojzs5a.jpg" alt=""></div>
                <div class="team-member__social-wrap">
                  <ul class="team-member__social-list">
                    <li>

                      <a class="s-tw--bgcolor-hover" href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                    <li>

                      <a class="s-fb--bgcolor-hover" href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                    <li>

                      <a class="s-insta--bgcolor-hover" href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                    <li>

                      <a class="s-linked--bgcolor-hover" href="javascript:void(0)"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-member__info">

                <span class="team-member__name">Tạ Văn Nam</span>

                <span class="team-member__job-title">Leader</span></div>
            </div>
          </div>
          <div class="col u-s-m-b-30">
            <div class="team-member u-h-100">
              <div class="team-member__wrap">
                <div class="aspect aspect--bg-grey-fb aspect--square">

                  <img class="aspect__img team-member__img" style="object-fit: cover" src="https://res.cloudinary.com/nemfashion/image/upload/v1671687804/Tr%E1%BA%A7n_%C4%90%E1%BB%A9c_Ph%C6%B0%C6%A1ng_-_PH13747_f7l3pf.jpg" alt=""></div>
                <div class="team-member__social-wrap">
                  <ul class="team-member__social-list">
                    <li>

                      <a class="s-tw--bgcolor-hover" href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                    <li>

                      <a class="s-fb--bgcolor-hover" href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                    <li>

                      <a class="s-insta--bgcolor-hover" href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                    <li>

                      <a class="s-linked--bgcolor-hover" href="javascript:void(0)"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-member__info">

                <span class="team-member__name">Trần Đức Phương</span>

                <span class="team-member__job-title">Dev</span></div>
            </div>
          </div>
          <div class="col u-s-m-b-30">
            <div class="team-member u-h-100">
              <div class="team-member__wrap">
                <div class="aspect aspect--bg-grey-fb aspect--square">

                  <img class="aspect__img team-member__img" style="object-fit: cover" src="https://res.cloudinary.com/nemfashion/image/upload/v1671690797/319842014_693999305429249_4400592827432329115_n_fef0ay.jpg" alt=""></div>
                <div class="team-member__social-wrap">
                  <ul class="team-member__social-list">
                    <li>

                      <a class="s-tw--bgcolor-hover" href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                    <li>

                      <a class="s-fb--bgcolor-hover" href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                    <li>

                      <a class="s-insta--bgcolor-hover" href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                    <li>

                      <a class="s-linked--bgcolor-hover" href="javascript:void(0)"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-member__info">

                <span class="team-member__name">Nguyễn Quốc Khánh</span>

                <span class="team-member__job-title">Dev</span></div>
            </div>
          </div>
          <div class="col u-s-m-b-30">
            <div class="team-member u-h-100">
              <div class="team-member__wrap">
                <div class="aspect aspect--bg-grey-fb aspect--square">

                  <img class="aspect__img team-member__img" style="object-fit: cover" src="https://res.cloudinary.com/nemfashion/image/upload/v1671690797/320237159_517498073678522_6860963815286505118_n_nkq13r.jpg" alt=""></div>
                <div class="team-member__social-wrap">
                  <ul class="team-member__social-list">
                    <li>

                      <a class="s-tw--bgcolor-hover" href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                    <li>

                      <a class="s-fb--bgcolor-hover" href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                    <li>

                      <a class="s-insta--bgcolor-hover" href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                    <li>

                      <a class="s-linked--bgcolor-hover" href="javascript:void(0)"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-member__info">

                <span class="team-member__name">Lê Minh Thuỵ</span>

                <span class="team-member__job-title">Dev</span></div>
            </div>
          </div>
          <div class="col u-s-m-b-30">
            <div class="team-member u-h-100">
              <div class="team-member__wrap">
                <div class="aspect aspect--bg-grey-fb aspect--square">

                  <img class="aspect__img team-member__img" style="object-fit: cover" src="https://res.cloudinary.com/nemfashion/image/upload/v1671690799/320805745_1096623464345741_3225714124072489359_n_maowze.jpg" alt=""></div>
                <div class="team-member__social-wrap">
                  <ul class="team-member__social-list">
                    <li>

                      <a class="s-tw--bgcolor-hover" href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                    <li>

                      <a class="s-fb--bgcolor-hover" href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                    <li>

                      <a class="s-insta--bgcolor-hover" href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                    <li>

                      <a class="s-linked--bgcolor-hover" href="javascript:void(0)"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-member__info">

                <span class="team-member__name">Đỗ Thanh Hiền</span>

                <span class="team-member__job-title">Tester</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--====== End - Section Content ======-->
  </div>
  <!--====== End - Section 3 ======-->

</div>
<!--====== End - App Content ======-->
