/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  text-decoration: none;
}

#topScroll{
  background-color: black;
  color: #FFFFFF;
  border-radius: 100px;
}


.top-50{
   top: 37% !important;
}

