<div *ngIf="isLoading" class="loading">
  <div class="spinner-border text-danger spinner-center" role="status">
  </div>
</div>
<h1 mat-dialog-title class="text-center h3 font-weight-bold">
  <div *ngIf="dataDialog.status==0">Chuẩn bị hàng</div>
  <div *ngIf="dataDialog.status==1">Chờ lấy hàng</div>
  <div *ngIf="dataDialog.status==2">Đang giao</div>
  <div *ngIf="dataDialog.status==3">Đã giao</div>
  <div *ngIf="dataDialog.status==4">Đơn hủy</div>
  <div *ngIf="dataDialog.status==5">Trả hàng/Hoàn tiền</div>
</h1>
<div mat-dialog-content>
  
  <div class="row">
      <span class="h4 font-weight-bold col-12">ID Đơn hàng</span>
      <span class="col-12">#{{dataDialog.id}}</span>
      <span class="h4 font-weight-bold col-12 mt-3">Địa chỉ nhận hàng</span>
      <span class="col-12">{{dataDialog.shipName}} : {{dataDialog.shipPhone}}</span>
      <span class="col-12">{{dataDialog.shipAddress}}</span>
      <span class="h4 font-weight-bold col-12 mt-3">Giá trị đơn hàng</span>
      <span class="col-12">{{dataDialog.total| currency:' ':'symbol':'0.0-2'}}VNĐ</span>
  </div>

</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <div *ngIf="dataDialog.status==0" class="row">
    <button mat-button mat-dialog-close class="btn btn-danger" mat-button mat-dialog-close>Hủy</button>
    <button 
      class="btn btn-info" 
      mat-button 
      cdkFocusInitial
      (click)="createOrderGhn()"
      >Đồng ý</button>
  </div>
  <div *ngIf="dataDialog.status!=0" class="row">
    <button class="btn btn-danger" mat-button mat-dialog-close>Đóng</button>
  </div>
</div>