<div class="d-flex justify-content-between">
    <h6 class="main-content-label" style="font-size: 16px;">{{ title }}</h6>
    <span class="fa-solid fa-xmark icon-close" style="font-size: 16px; cursor: pointer;" (click)="onDismiss()"></span>
</div>

<label class="mt-3 fs-1">{{message}}</label>
<div class="text-center mt-3">
    <button class="btn btn-primary me-4 ms-4" (click)="onConfirm()">
        <span><span class="fa-solid fa-check"></span> Xác nhận</span>
    </button>
    <button class="btn btn-danger" (click)="onDismiss()">
        <span><span class="fa-solid fa-xmark"></span> Đóng</span>
    </button>
</div>

