<div class="col-lg-12 col-md-12">
  <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
    <div class="dash__pad-2">
      <h1 class="dash__h1 u-s-m-b-14">Thông tin cá nhân</h1>
      <div class="row">
        <div class="col-4">
            <img style="border-radius: 200px;" class="position-relative img-fluid" src="https://res.cloudinary.com/dpnmnhu1m/image/upload/v1665026644/24308af274e849fb4ca3bf0de22f68a1_nypl0h.jpg" >
             <button class="btn_posi btn btn-light btn-outline-dark" (click)="OpenDialogImage()">
               <i class="fas fa-camera fs-2"></i>
             </button>
        </div>
        <div class="offset-1 col-7">
            <form class="row">
                <mat-form-field appearance="outline" class="col-6">
                  <mat-label>Họ tên:</mat-label>
                  <input matInput  >
                </mat-form-field>

              <mat-form-field appearance="outline" class="col-6">
                <mat-label>Email:</mat-label>
                <input matInput >
              </mat-form-field>


              <mat-form-field appearance="outline" class="col-6">
                <mat-label>Số điện thoại:</mat-label>
                <input matInput  >
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-6">
                <mat-label>Địa chỉ:</mat-label>
                <input matInput  >
              </mat-form-field>
            </form>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-12">
          <button class="dash__custom-link btn--e-transparent-brand-b-2"> Sửa thông tin</button>
          <button class="dash__custom-link btn--e-brand-b-2 mx-5">Đổi mật khẩu</button>
        </div>
      </div>
    </div>
  </div>
</div>
