
.btn--e-brand-hover:hover{
  color: white;
}

.disabled-a{
  pointer-events: none;
  cursor: not-allowed;
}

.loading {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.spinner-center {
  top: 50%;
  left: 50%;
  position: absolute;
}
