<div class="customer-form-title card-title">
    <h6 class="main-content-label text-center" style="font-size: 16px;">CHI TIẾT ĐƠN HÀNG</h6>
    <!--    <span class="fa-solid fa-xmark icon-close" style="font-size: 16px; cursor: pointer; float: right"-->
    <!--          (click)="onDismiss()"></span>-->
</div>
<div class="card-body-custom">
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Thông tin">
            <div class="info row pt-2">
                <div class="col-6 row ">
                    <label class="col-6">Mã hóa đơn:</label>
                    <label class="col-6">HD001</label>
                </div>
                <div class="col-6 row">
                    <label class="col-6">Thời gian:</label>
                    <label class="col-6">30/09/2022</label>
                </div>
                <div class="col-6 row">
                    <label class="col-6">Khách hàng:</label>
                    <label class="col-6">Tạ Văn Nam</label>
                </div>
                <div class="col-6 row">
                    <label class="col-6">Nhân viên:</label>
                    <label class="col-6">Nguyễn Khánh</label>
                </div>
            </div>
            <div class="table-mid">
                <table mat-table [dataSource]="dataSource" matSort class="w-100">
                    <!-- ID Column -->
                    <ng-container matColumnDef="STT">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã sản phẩm</th>
                        <td mat-cell *matCellDef="let row"> {{row.STT}} </td>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="employee">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên sản phẩm</th>
                        <td mat-cell *matCellDef="let row"> {{row.employee}}</td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="customer">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Số lượng</th>
                        <td mat-cell *matCellDef="let row"> {{row.customer}} </td>
                    </ng-container>

                    <!-- Fruit Column -->
                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Đơn giá</th>
                        <td mat-cell *matCellDef="let row"> {{row.address}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Giảm giá</th>
                        <td mat-cell *matCellDef="let row">
                            Giảm giá
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Thành tiền</th>
                        <td mat-cell *matCellDef="let row">{{row.total}}
                            <!--                            <button class="btn btn-outline">-->
                            <!--                                <span class="far fa-edit"></span>-->
                            <!--                            </button>-->
                            <!--                            <button class="btn btn-outline-danger">-->
                            <!--                                <span class="fa fa-trash"></span>-->
                            <!--                            </button>-->
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter</td>
                    </tr>
                </table>
            </div>
            <div class="footer-order">
                <div class="total table-responsive mt-2 mb-3    ">
                    <table class="">
                        <tbody>
                        <tr>
                            <td>Tổng số lượng:</td>
                            <td style="width: 50%">3</td>
                        </tr>
                        <tr>
                            <td>Tổng tiền hàng:</td>
                            <td>15000</td>
                        </tr>
                        <tr>
                            <td>Giảm giá:</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Tổng tiền cần trả:</td>
                            <td>15000</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="action">
                    <button mat-raised-button color="warn" class="mx-2">Trả hàng</button>
                    <button mat-raised-button color="warn" class="mx-2">Hủy đơn</button>
                    <button mat-raised-button color="warn" class="mx-2">Close</button>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Lịch sử trả hàng">
            <div class="info row pt-2">
                <div class="col-4">
                    <div class="row">
                    <label class="col-5">Mã trả hàng:</label>
                    <label class="col-7">TH001</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                    <label class="col-6">Thời gian:</label>
                    <label class="col-6">30/09/2022</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                    <label class="col-6">Khách hàng:</label>
                    <label class="col-6">Tạ Văn Nam</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                    <label class="col-5">Mã hóa đơn:</label>
                    <label class="col-7">HD001</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                    <label class="col-6">Người nhận trả:</label>
                    <label class="col-6">Nguyễn Khánh</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                    <label class="col-6">Trạng thái:</label>
                    <label class="col-6">Đã trả</label>
                    </div>
                </div>

            </div>
            <div class="table-mid">
                <table mat-table [dataSource]="dataSource" matSort class="w-100">
                    <!-- ID Column -->
                    <ng-container matColumnDef="STT">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã sản phẩm</th>
                        <td mat-cell *matCellDef="let row"> {{row.STT}} </td>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="employee">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên sản phẩm</th>
                        <td mat-cell *matCellDef="let row"> {{row.employee}}</td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="customer">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Số lượng</th>
                        <td mat-cell *matCellDef="let row"> {{row.customer}} </td>
                    </ng-container>

                    <!-- Fruit Column -->
                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Đơn giá</th>
                        <td mat-cell *matCellDef="let row"> {{row.address}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Giảm giá</th>
                        <td mat-cell *matCellDef="let row">
                            Giảm giá
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Thành tiền</th>
                        <td mat-cell *matCellDef="let row">{{row.total}}
                            <!--                            <button class="btn btn-outline">-->
                            <!--                                <span class="far fa-edit"></span>-->
                            <!--                            </button>-->
                            <!--                            <button class="btn btn-outline-danger">-->
                            <!--                                <span class="fa fa-trash"></span>-->
                            <!--                            </button>-->
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter</td>
                    </tr>
                </table>
            </div>
            <div class="footer-order">
                <div class="total table-responsive mt-2 mb-3    ">
                    <table class="">
                        <tbody>
                        <tr>
                            <td>Tổng số lượng:</td>
                            <td style="width: 50%">3</td>
                        </tr>
                        <tr>
                            <td>Tổng tiền hàng trả:</td>
                            <td>15000</td>
                        </tr>
                        <tr>
                            <td>Tổng tiền cần trả khách:</td>
                            <td>15000</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="action">
                    <button mat-raised-button color="warn" class="mx-2">Trả hàng</button>
                    <button mat-raised-button color="warn" class="mx-2">Hủy đơn</button>
                    <button mat-raised-button color="warn" class="mx-2">Close</button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
