<div class="main-content">
  <div class="container-fluid">
    <div class="card custom-card">
      <div class="card-body">
        <!-- Content -->
        <div class="row d-flex justify-content-end">
          <div class="col-3 d-flex justify-content-end">
            <a routerLink="create" class="btn btn-danger">Thêm mới</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 p-0">
            <mat-form-field appearance="outline">
              <mat-label>Tìm kiếm sản phẩm</mat-label>
              <input matInput type="text" />
            </mat-form-field>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <a class="btn btn-danger">Tìm kiếm</a>
          </div>
        </div>
        <table class="table table-bordered">
          <thead class="h3 font-weight-bold">
            <tr>
              <th>Tên sản phẩm</th>
              <th>Giá</th>
              <th>Danh mục</th>
              <th>Ảnh bìa</th>
              <th>Trạng thái</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Áo</td>
              <td>1200</td>
              <td>Áo</td>
              <td>Null</td>
              <td>Null</td>
              <td>Edit</td>
            </tr>
            <tr>
              <td>Áo</td>
              <td>1200</td>
              <td>Áo</td>
              <td>Null</td>
              <td>Null</td>
              <td>Edit</td>
            </tr>
            <tr>
              <td>Áo</td>
              <td>1200</td>
              <td>Áo</td>
              <td>Null</td>
              <td>Null</td>
              <td>Edit</td>
            </tr>
            <tr>
              <td>Áo</td>
              <td>1200</td>
              <td>Áo</td>
              <td>Null</td>
              <td>Null</td>
              <td>Edit</td>
            </tr>
          </tbody>
          <tfoot>
              <tr>
                <td colspan="6">
                  <div class="row d-flex justify-content-end">
                    <button class="btn btn-success">
                      <i class="fas fa-angle-double-left"></i>
                    </button>
                    <button class="btn btn-success">
                      <i class="fas fa-angle-left"></i>
                    </button>
                    <button class="btn btn-success">
                      <i class="fas fa-angle-right"></i>
                    </button>
                    <button class="btn btn-success">
                      <i class="fas fa-angle-double-right"></i>
                    </button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
