<div class="u-s-p-y-60 ">
  <!--====== Section Content ======-->
  <div class="section__content">
    <div class="container">
      <div class="breadcrumb row">
        <div class="breadcrumb__wrap">
          <ul class="breadcrumb__list">
            <li class="has-separator">
              <a routerLink="/home">Trang chủ</a>
            </li>
            <li class="is-marked">
              <a routerLink="/contact">Liên hệ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<!--====== Section 2 ======-->
<div class="u-s-p-b-60">

  <!--====== Section Content ======-->
  <div class="section__content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="g-map">
            <div id="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.8639810460513!2d105.74459305075784!3d21.038127785924605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1671687553529!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 2 ======-->


<!--====== Section 3 ======-->
<div class="u-s-p-b-60">

  <!--====== Section Content ======-->
  <div class="section__content">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 u-s-m-b-30">
          <div class="contact-o u-h-100">
            <div class="contact-o__wrap">
              <div class="contact-o__icon"><i class="fas fa-phone-volume"></i></div>
              <span class="contact-o__info-text-1">Liên hệ với chúng tôi</span>
              <span class="contact-o__info-text-2">0123456789</span>
              <span class="contact-o__info-text-2">nemfashionShop@gmail.com</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 u-s-m-b-30">
          <div class="contact-o u-h-100">
            <div class="contact-o__wrap">
              <div class="contact-o__icon"><i class="fas fa-map-marker-alt"></i></div>

              <span class="contact-o__info-text-1">Địa chỉ</span>

              <span class="contact-o__info-text-2">Phố Trịnh Văn Bô, Quận Nam Từ Liêm</span>

              <span class="contact-o__info-text-2">Thành phố Hà Nội</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 u-s-m-b-30">
          <div class="contact-o u-h-100">
            <div class="contact-o__wrap">
              <div class="contact-o__icon"><i class="far fa-clock"></i></div>

              <span class="contact-o__info-text-1">Thời gian làm việc</span>

              <span class="contact-o__info-text-2">5 ngày trên tuần</span>

              <span class="contact-o__info-text-2">Từ 8:30 sáng tới 18:00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 3 ======-->


<!--====== Section 4 ======-->
<div class="u-s-p-b-60">

  <!--====== Section Content ======-->
  <div class="section__content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="contact-area u-h-100">
            <div class="contact-area__heading">
              <h2>Lời nhắn</h2>
            </div>
            <form class="contact-f" method="post">
              <div class="row">
                <div class="col-lg-6 col-md-6 u-h-100">
                  <div class="u-s-m-b-30">

                    <label for="c-name"></label>

                    <input class="input-text input-text--border-radius input-text--primary-style" type="text" id="c-name" placeholder="Tên" required></div>
                  <div class="u-s-m-b-30">

                    <label for="c-email"></label>

                    <input class="input-text input-text--border-radius input-text--primary-style" type="text" id="c-email" placeholder="Email" required></div>
                  <div class="u-s-m-b-30">

                    <label for="c-subject"></label>

                    <input class="input-text input-text--border-radius input-text--primary-style" type="text" id="c-subject" placeholder="Tiêu đề" required></div>
                </div>
                <div class="col-lg-6 col-md-6 u-h-100">
                  <div class="u-s-m-b-30">

                    <label for="c-message"></label><textarea class="text-area text-area--border-radius text-area--primary-style" id="c-message" placeholder="Lời nhắn" required></textarea></div>
                </div>
                <div class="col-lg-12">

                  <button class="btn-primary-custom btn-custom--smooth" type="submit">Gửi lời nhắn</button></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 4 ======-->

<!--====== End - App Content ======-->

