<div class="customer-form-title card-title">
  <h6 class="main-content-label text-center" style="font-size: 16px;">Thay đổi mật khẩu</h6>
  <!--    <span class="fa-solid fa-xmark icon-close" style="font-size: 16px; cursor: pointer; float: right"-->
  <!--          (click)="onDismiss()"></span>-->
</div>
<div class="card-body">
  <form class="mb-0">
    <div class="row" [formGroup]="formGroup">
      <div class="col">
<!--        <mat-form-field class="w-100" appearance="outline">-->
<!--          <mat-label>Mật khẩu cũ</mat-label>-->
<!--          <input type="password" matInput formControlName="oldPassword">-->
<!--          <mat-error class="text-danger"-->
<!--                     *ngIf="formGroup.get('oldPassword')?.hasError('required') &&-->
<!--                                      formGroup.get('oldPassword')?.touched">-->
<!--            Mật khẩu cũ không được để trống-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Mật khẩu mới</mat-label>
          <input type="password" matInput formControlName="newPassword" minlength="6">
          <mat-error class="text-danger"
                     *ngIf="formGroup.get('newPassword')?.hasError('required') &&
                                      formGroup.get('newPassword')?.touched">
            Mật khẩu mới không được để trống
          </mat-error>
          <mat-error class="text-danger"
                     *ngIf="formGroup.get('newPassword')?.hasError('minlength') &&
                                      formGroup.get('newPassword')?.touched">
            Mật khẩu không được nhỏ hơn 6 ký tự
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Xác nhận mật khẩu</mat-label>
          <input type="password" matInput formControlName="confirmPassword" minlength="6">
          <mat-error class="text-danger"
                     *ngIf="formGroup.get('confirmPassword')?.hasError('required') &&
                                      formGroup.get('confirmPassword')?.touched">
            Xác nhận mật khẩu không được để trống
          </mat-error>
          <mat-error class="text-danger"
                     *ngIf="formGroup.get('confirmPassword')?.hasError('minlength') &&
                                      formGroup.get('confirmPassword')?.touched">
            Mật khẩu không được nhỏ hơn 6 ký tự
          </mat-error>
        </mat-form-field>
        <mat-hint class="text-danger"
                  *ngIf="(formGroup.getRawValue().newPassword != formGroup.getRawValue().confirmPassword) && formGroup.valid">
          Mật khẩu không trùng khớp
        </mat-hint>
        <div class="action-button mt-3 d-flex justify-content-end gap-2">
          <button type="button" mat-raised-button color="warn" (click)="onDismiss()">
            <span><span class="fe fe-x mg-r-2"></span>Đóng</span>
          </button>
          <button type="button"
                  mat-raised-button color="primary"
                  (click)="save()">
            Lưu
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
