<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <h6 class="main-content-label" style="font-size: 16px;">{{ title }}</h6>
                <span class="fa-solid fa-xmark icon-close" style="font-size: 16px; cursor: pointer;"
                      (click)="onDismiss()"></span>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-4 mt-1">
            <div class="widget-container flex-box">
                <div id="dropzone-external"
                        class="flex-box"
                        [ngClass]="
                        isDropZoneActive ? ['dx-theme-accent-as-border-color', 'dropzone-active']: ['dx-theme-border-color']">
                    <img id="dropzone-image" [src]="imageSource" *ngIf="imageSource" alt=""/>
                    <div id="dropzone-text" class="flex-box" *ngIf="textVisible">
                    </div>
                    <dx-progress-bar
                        #uploadProgress
                        [min]="0"
                        [max]="100"
                        width="30%"
                        [showStatus]="false"
                        [visible]="progressVisible"
                        [value]="progressValue"
                    ></dx-progress-bar>
                </div>
                <dx-file-uploader
                    #fileUploader
                    hidden
                    dialogTrigger="#dropzone-external"
                    dropZone="#dropzone-external"
                    [multiple]="true"
                    [allowedFileExtensions]="['.jpg', '.jpeg', '.gif', '.png']"
                    uploadMode="instantly"
                    uploadUrl="https://js.devexpress.com/Demos/NetCore/FileUploader/Upload"
                    [visible]="true"
                    (onUploaded)="onUploaded($event)"
                ></dx-file-uploader>
            </div>
        </div>

        <div class="col-8 p-0">
            <div class="container-fluid">
                <form class="row">
                    <mat-form-field class="col-6" appearance="outline">
                        <mat-label>Họ và tên</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>

                    <mat-form-field class="col-6" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>

                    <mat-form-field class="col-6" appearance="outline">
                        <mat-label>Mật khẩu</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-6">
                        <mat-label>Ngày sinh</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="col-6" appearance="outline">
                        <mat-label>Legacy form field</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>

                    <mat-form-field class="col-6" appearance="outline">
                        <mat-label>Legacy form field</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>

                    <div class="col-12">
                        <button class="btn btn-success">Thêm mới</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

