.clickImage{
    border: 1px solid black;
}

.disabled-color__radio-label{
  pointer-events: none;
}

.disabled-size{
  color: #cccccc;
  pointer-events: none;
}

.disabled-color{
  pointer-events: none;
}
.low-opacity{
  opacity: 0.5;
}

.carousel-indicators [data-bs-target]{
  width: 15px;
  height: 15px;
}

.product-o__action-wrap{
  top: 40% ;
}

